extends layout

block content
  form(method="post", action="/schedules")
    div
      h5 日時
      input(type="date" name="date")
    

    table
      tr
        th 時間
        th 予約選択
      tr
        th 9:00
        td <input type="radio" name="reserve_9_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_9_00" value="0">予約キャンセル
      tr
        th 9:30
        td <input type="radio" name="reserve_9_30" value="1" checked="checked">予約する　<input type="radio" name="reserve_9_30" value="0">予約キャンセル
      tr
        th 10:00
        td <input type="radio" name="reserve_10_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_10_00" value="0">予約キャンセル
      tr
        th 10:30
        td <input type="radio" name="reserve_10_30" value="1" checked="checked">予約する　<input type="radio" name="reserve_10_30" value="0">予約キャンセル
      tr
        th 11:00
        td <input type="radio" name="reserve_11_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_11_00" value="0">予約キャンセル
      tr
        th 11:30
        td <input type="radio" name="reserve_11_30" value="1" checked="checked">予約する　<input type="radio" name="reserve_11_30" value="0">予約キャンセル
      tr
        th 12:00
        td <input type="radio" name="reserve_12_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_12_00" value="0">予約キャンセル
      tr
        th &nbsp;
        td &nbsp;
      tr
        th 16:00
        td <input type="radio" name="reserve_16_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_16_00" value="0">予約キャンセル
      tr
        th 16:30
        td <input type="radio" name="reserve_16_30" value="1" checked="checked">予約する　<input type="radio" name="reserve_16_30" value="0">予約キャンセル
      tr
        th 17:00
        td <input type="radio" name="reserve_17_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_17_00" value="0">予約キャンセル
      tr
        th 17:30
        td <input type="radio" name="reserve_17_30" value="1" checked="checked">予約する　<input type="radio" name="reserve_17_30" value="0">予約キャンセル
      tr
        th 18:00
        td <input type="radio" name="reserve_18_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_18_00" value="0">予約キャンセル
      tr
        th 18:30
        td <input type="radio" name="reserve_18_30" value="1" checked="checked">予約する　<input type="radio" name="reserve_18_30" value="0">予約キャンセル
      tr
        th 19:00
        td <input type="radio" name="reserve_19_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_19_00" value="0">予約キャンセル
      tr
        th 19:30
        td <input type="radio" name="reserve_19_30" value="1" checked="checked">予約する　<input type="radio" name="reserve_19_30" value="0">予約キャンセル
      tr
        th 20:00
        td <input type="radio" name="reserve_20_00" value="1" checked="checked">予約する　<input type="radio" name="reserve_20_00" value="0">予約キャンセル
        
    button(type="submit") 予定をつくる