body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#schedule-container table th, #schedule-container table td{
  border:none;
  text-align: center;
}
th,td{
  border:1px solid #ccc;
  text-align: center;
}
.scheduleDate{
  display:none;
}

a {
  color: #00B7FF;
}
